<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    
    
    <title>TransplantToolBox</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
   </head>
 
 <body>
  <nav class="navbar sticky-top navbar-expand-sm justify-content-center nav-tabs navbar-dark bg-dark">
    <div class= "nav">
        <a class="navbar-brand text-center text-white pl-5 pr-5 h1" href="{% url 'ttb_home' %}" > TransplantToolbox  </a>
              <li class="nav-item active">
                <a class="nav-link text-white pl-5 pr-5 h5" href="{% url 'home' %}"> ALLAN </a>

              </li>
              <li class="nav-item active">
                <a class="nav-link text-white pl-5 pr-5 h5" href="{% url 'victor_home' %}"> VICTOR </a>
              </li>

              <li class="nav-item active">
                <a class="nav-link text-white h5  pl-5 pr-5" href="{% url 'cpra_message' %}"> CPRA Calculator </a>
              </li>

              <li class="nav-item active">
                <a class="nav-link text-white pl-5 pr-5 h5" href="https://hla.tulane.edu/"> Gragert Lab </a>
              </li>
         </div>
  

</nav>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="jumbotron container"> 
  <h2> The Calculator Is Under Maintenance. We'll Be Back Soon, Stay Tuned! </h2> </div>
  <div class="container text-center">  <img class="" id="under_maintenance" src="{% static "images/under-construction.png" %}", width="450", height="450" ></img> </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="jumbotron text-white text-center" style="background-color:  black;">
  <h2> Contact Us!</h2> 
  <br>
  <h3> <em>  For scientific and technical queries contact pathologygragertlab@tulane.edu. </em> </h3>
  
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>    
</body>    
</html>